<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width;initial-scale=1.0">
        <title>Add Subject</title>
        <link rel="stylesheet" href="/static/nav.css">
        <link rel="stylesheet" href="/static/addeditany.css">
    </head>
    <body>
        <header>
            <nav>
                <div class="navbar">
                    <a href="{{url_for('admin_home')}}">Home</a>
                    <a href="{{url_for('allusers')}}">Users</a>
                    <a href="{{url_for('summary')}}">Summary</a>
                </div>
                <div class="down">
                    <div class="down2">
                    <button>Welcome Admin</button>
                    <div class="drop">
                        <a href="{{url_for('logout')}}">Logout</a>
                    </div>
                </div>
            </div>
            </nav>
        </header>
        <main>
            <div>
                <b><legend id="asub">Add Subject</legend></b>
                <form action="{{url_for('add_sub')}}" method="POST">
                    <label for="sname">Subject Name:</label>
                    <input type="text" name="sname" id="sname" required>
                    <br>
                    <label for="sdesc">Subject Description:</label>
                    <br>
                    <textarea name="sdesc" id="sdesc" required></textarea>
                    <br>
                    <input type="submit" value="Add Subject">
                </form>
            </div>
            <a class="goback" style="color: black;" href="{{url_for('admin_home')}}">Go back</a>
        </main>
    </body>
</html>