 <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width;initial-scale=1.0">
        <title>Admin Home</title>
        <link rel="stylesheet" href="/static/nav.css">
        <link rel="stylesheet" href="/static/home.css">
    </head>
    <body>
        <header>
            <nav>
                <div class="navbar">
                    <a href="{{url_for('admin_home')}}">Home</a>
                    <a href="{{url_for('allusers')}}">Users</a>
                    <a href="{{url_for('summary')}}">Summary</a>
                </div>
                <div class="down">
                    <div class="search-container">
                        <select id="cat">
                            <option value="subject">Subject</option>
                            <option value="chapter">Chapter</option>
                        </select>
                        <input type="search" id="search" placeholder="Search...">
                    </div>
                    <div class="down2">
                        <button>Welcome Admin</button>
                        <div class="drop">
                            <a href="{{url_for('logout')}}">Logout</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            {% with msgs = get_flashed_messages(with_categories=True) %}
                {% if msgs %}
                    {% for cat, msg in msgs %}
                        <div class="cat">{{ msg }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% for sub in sub_l %}
            <table class="subtab">
                <b><caption class="subname">{{ sub['name'] }}</caption></b>
                <tr>
                    <th>Chapter name</th>
                    <th>No. of Questions</th>
                    <th>Actions</th>
                </tr>
                {% for chap in sub['chapters'] %}
                <tr class="crow">
                    <td  class="cname">{{ chap['name'] }}</td>
                    <td>{{ chap['q_count'] }}</td>
                    <td class="tbut">
                        <a style="color: black;" href="{{ url_for('view_quizzes', chapter_id=chap['id']) }}">View</a>
                        <a style="color: black;" href="{{ url_for('edit_chap', chapter_id=chap['id'], subject_id=chap['subject_id']) }}">Edit</a>
                        <a style="color: black;" href="{{ url_for('del_chap', subject_id=sub['id'], chapter_id=chap['id']) }}" onclick="return confirm('Are you sure you want to delete the chapter? All the quizzes associated with it will also be deleted')">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <div class="buts">
            <a href="{{ url_for('add_chap', subject_id=sub['id']) }}">
                <button class="but butadd">Add New Chapter</button>
            </a>
            <a href="{{ url_for('del_sub', subject_id=sub['id']) }}" onclick="return confirm('Are you sure you want to delete the subject? All the chapters and quizzes associated with it will also be deleted')">
                <button class="but butdel">Delete Subject</button>
            </a>            
            <a href="{{ url_for('edit_sub', subject_id=sub['id']) }}" >
                <button class="but butedit">Edit Subject</button>
            </a>
        </div>
            {% endfor %}
        </main>
        
        <footer>
            <a href="{{ url_for('add_sub') }}">
                <button>Add new subject</button>
            </a>
        </footer>
        <script src="static/homesearch.js"></script>
    </body>
</html> 
