<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width;initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="/static/nav.css">
        <link rel="stylesheet" href="/static/attempt.css">
    </head>
    <body>
        <header> 
            <nav>
                <div class="navbar">
                    <a href="{{url_for('user_home')}}">Home</a>
                    <a href="{{url_for('user_score')}}">Scores</a>
                    <a href="{{url_for('user_summary')}}">Summary</a>
                </div>
                <div class="down">
                    <div class="down2">
                        <button>Welcome {{name}}</button>
                        <div class="drop">
                            <a href="{{url_for('edit_profile')}}">Edit profile</a>
                            <a href="{{url_for('logout')}}">Logout</a>
                        </div>
                    </div>                    
                </div>
            </nav>
        </header>
        <main>
            {% for qsn in qsns %}
            <fieldset>
            <h3>{{ qsn['question_statement'] }}</h3>
            <p>Your answer: {{qsn['selected_option']}}</p>
            <p>Correct Answer: {{qsn['correct_option']}}</p>
            <p>Explanation:{{qsn['answer_statement']}}</p>
            </fieldset>
            {% endfor %}
        </main>
    </body>
</html>